* {
    margin: 0;
    padding: 0;
    font-family: 'Playpen Sans', cursive;
    box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
}

body {
    background: #080808;
    color: #fff;
}

#header {
    width: 100%;
    height: 110vh;
    background-image: url('images/Anshu1.png');
    background-size: 39%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: right;
    background-position-y: bottom;
}

div
{
    display: block;
}
.container {
    
    padding: 10px 8%;
  
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    flex-wrap: wrap;
}

#logo 
{
    width: 8%;
   float:left; 
}


nav ul li 
{   
    display: inline-block;
    list-style: none;
    margin: 20px 20px;
}

    nav ul li a {
        color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.headertext {
    font-family: 'Baloo Bhai 2', sans-serif;
    margin-top: 20%;
    font-size: 30px;

}

.headertext h1 {
    font-size: 50px;
    margin-top: 20px;
}

.headertext span {
    color: #ff004f;
}



.c {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#about
{
    padding:80px 0;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.col1 {
    flex-basis: 35%;
 
}
.col1 img
{
    height:90%;
    
}

.col2 {
    flex-basis: 55%;
}


#abme {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 40px;
    color: white;
}


.col2 p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.tabtitles {
    display: flex;
    margin: 20px 0 40px;
}

.tablinks {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tablinks::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tablinks.activelink::after {
    width: 50%;

}

.cp a {
    color: #ababab;
    font-size: 18px;
    font-family: 'Baloo Bhai 2', sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    position: relative;
}

.cp a:hover {
    cursor: pointer;
}

.tabcontents ul li {
    list-style: disc;
    margin: 10px 0;
}

.tabcontents ul li span {
    color: #b54769;
    font-size: 14px;
}

.tabcontents {
    display: none;
}

.tabcontents.activetabs {
    display: block;
}

/* services */
#services {
    padding: 30px 0px;
 
}

.serviceslist {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
  
}

.serviceslist  img
{
     margin:0 0px ;
}
.serviceslist div {
    position: relative;
    min-height: 45vh;
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: background 0.5s, transform 0.5s;
}

.serviceslist div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.serviceslist div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.serviceslist div a {
    position: absolute;
    bottom: 40px;
    left:40px;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    opacity: 0.7;
}

.serviceslist div:hover {
    background: #ff004f;
    transform: translateY(-10px);
}

i
{
    margin-top: 30px;

}
#codechef
{
    width: 40%;
    height:10vh;
    margin-bottom: 40px;
}
#cf
{
    margin-bottom: 10px;
    width: 30%;
    height:11vh;
}


#hack
{
   margin-top: 0px;
}
#s1
{
  margin-top: 50px;
}
#s2
{
  margin-top: 30px;
}


  
  
/* portfolio */

#portfolio {
    padding: 50px 0;
}

.worklist {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 50px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}

.ExpHead
{
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 18px;
}
.work img {
    width: 92%;
    height:55vh;
    border-radius: 10px;
    display: block;
    transition: transform(0.5s);
}
company
{
  cursor: pointer;
}

#codolio
{
    
}
company a
{
 text-decoration: none;
 color:inherit;
}
.layer {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}


.layer a {
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.layer a i
{
   padding-bottom:25px;
}

.work:hover {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    text-decoration: none;
    color: white;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    transition: background;
}

.btn:hover {
    background-color: #ff004f;
}

/* contact */

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}



.contact-left p i {
    color: #ff004f;
    margin-right: 20px;
    font-size: 25px;
}


.socialicons  a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color:#ababab;
    display:inline-block;
    transition: transform 0.5s;
}
.socialicons  a:hover
{
    color:#ff004f;
    transform: translateY(-5px);
}
.btn.btn2
{
   display: inline-block;
   background-color: #ff004f;
}
.contact-right form
{
    width:100%;
}
form input,form textarea{
    width:100%;
    border :0;
    outline:none;
    background:#262626;
    padding:15px;
    margin:15px 0;
    font-size: 18px;
    color:#fff;
    border-radius:6px;
}
form .btn2
{
   padding: 14px 60px;
   font-size: 18px;
   margin-top: 20px;
   cursor:pointer;
}
.copyright
{
  width:100%;
  text-align: center;
  padding: 25px 0;
  background:#262626 ;
  font-weight: 300;
  margin-top: 20px;
}

#msg
{
    color:#61b752;
    margin-top: -40px;
    display: block;
}
 /* css for responsiveness */
  nav .fa
  {
      display: none;
  }
 @media only screen and (max-width: 790px)
 {
     #header
     {
        height:100vh;
        background-image: url('images/Anshu1phone.png');
        background-size: 50%;
       background-position-x:right;
       background-position-y: 50vh;
      }
     
      #logo
      {
        margin-top: 30px;
        width:10%;
      }
      .headertext
      {
        margin-top: 50%;
        font-size: 16px;
      }
      .headertext h1
      {
          font-size: 30px;
      }
      nav .fa
      {
          display: block;
          font-size: 25px;
      }
      nav ul
      {
        background:#ff004f;
        position: fixed;
        top: 0;
        right:-200px;
        width:200px;
        height: 100vh;
        padding: 50px;
        z-index: 2;
        transition: right 0.5s;
      }
      nav ul li
      {
        display: block;
        margin: 25px;
      }
      nav ul .fa
      {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
      }
    #abme
    {
       font-size: 40px;
    }
    .col1 , .col2
    {
       flex-basis: 100%;
    }
    .col1
    {
        margin-bottom: 30px;
    }
    .col2
    {
        font-size: 14px;
    }
    .tablinks
    {
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left , .contact-right
    {
       flex-basis: 100%;
    }
    .copyright
    {
        font-size: 14px;
    }
 }
 @media only screen and (max-width: 414px)
 {
    #header
    {
       height:90vh;
       background-image: url('images/Anshu1phone.png');
       background-size: 60%;
      background-position-x:right;
      background-position-y: 50vh;
     }
     .headertext
      {
        margin-top: 60%;
        font-size: 16px;
      }
      .headertext h1
      {
          font-size: 25px;
      }
     #logo
     {
        width:18%;
     }
 }
